#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network
###network --onboot=yes --device=enp4s0 --bootproto=dhcp
network --onboot=yes --device=enp0s20f0 --bootproto=dhcp

# Disable SElinux and firewall
firewall --disabled
selinux --disabled

# Root password
rootpw --iscrypted $6$kwlYiwH6E7ns4Vre$qNbXf3oFF7YRhv9rLTSK81XHkzc2TmuVKZEZJ1s.UwXklNduDCTi9jUpdRp61ejwnxxn9GVMLcOVfhn6iKakT/
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --homedir=/home/devops --name=devops --password=$6$4vXFazWxYNlGkwXT$Ddbr5NO8SI0S9sO.SuBT6qzfNmAAauz1wgQFIIS4AQaYlrAOn.BQ.GKRWIGmbaG3ZlWZ2V0NYfL/4Z43aNf.w/ --iscrypted --gecos="devops"

# Prepare disks
zerombr
clearpart --all --initlabel --drives=sda,sdb
ignoredisk --only-use=sda,sdb

# System bootloader configuration
bootloader  --location=mbr --driveorder=sda,sdb --append="crashkernel=auto"
# Partition clearing information
# /boot
part raid.01 --ondisk=sda --asprimary --size=500
part raid.02 --ondisk=sdb --asprimary --size=500
# /
part raid.11 --ondisk=sda --asprimary --size=32767
part raid.12 --ondisk=sdb --asprimary --size=32767
# <swap>
part raid.21 --ondisk=sda --asprimary --size=8072
part raid.22 --ondisk=sdb --asprimary --size=8072

# Format /boot and /.
raid /boot --fstype=ext3 --level=1 --device=md0 raid.01 raid.02
raid /     --fstype=ext3 --level=1 --device=md1 raid.11 raid.12
raid swap  --fstype=swap --level=1 --device=md2 raid.21 raid.22

%packages --nobase
@core --nodefaults
-aic94xx-firmware*
-alsa-*
-avahi
-biosdevname
-btrfs-progs*
-dhcp*
-dracut-network
-iprutils
-ivtv*
-iwl*firmware
-kexec-tools
-libertas*
-plymouth*
-postfix
-ModemManager*
-NetworkManager*
-wpa_supplicant
%end

%post

/usr/sbin/dmidecode -s baseboard-serial-number > /root/ks.out d2>&1

curl $KS_URL/hosts > /etc/hosts
curl $KS_URL/local.repo > /etc/yum.repos.d/local.repo

yum -y clean all >> /root/ks.out 2>&1
yum -y update >> /root/ks.out 2>&1

yum -y install salt-minion >> /root/ks.out 2>&1
chkconfig salt-minion on >> /root/ks.out 2>&1
service salt-minion start >> /root/ks.out 2>&1

%end
