

{% macro configure_compute_common( component ) %}

{% set controller = salt['pillar.get']('openstack:controller') %}
{% set neutron_pass = salt['pillar.get']('openstack:NEUTRON_PASS') %}

## To configure Compute to use Networking
##
## By default, distribution packages configure Compute to use legacy networking. You must reconfigure Compute to manage networks through Networking.
##
##  Edit the /etc/nova/nova.conf file and complete the following actions:
#
## a. In the [DEFAULT] section, configure the APIs and drivers:
##

nova_{{ component }}_conf_network_api_class:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: DEFAULT
    - parameter: network_api_class
    - value: nova.network.neutronv2.api.API

nova_{{ component }}_conf_security_group_api:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: DEFAULT
    - parameter: security_group_api
    - value: neutron

nova_{{ component }}_conf_linuxnet_interface_driver:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: DEFAULT
    - parameter: linuxnet_interface_driver
    - value: nova.network.linux_net.LinuxOVSInterfaceDriver

nova_{{ component }}_conf_firewall_driver:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: DEFAULT
    - parameter: firewall_driver
    - value: nova.virt.firewall.NoopFirewallDriver

## b. In the [neutron] section, configure access parameters:

nova_{{ component }}_conf_url:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: url
    - value: http://{{ controller }}:9696

neutron_{{ component }}_conf_neutron_auth_strategy:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: auth_strategy
    - value: keystone

nova_{{ component }}_conf_admin_auth_url:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: admin_auth_url
    - value: http://{{ controller }}:35357/v2.0

nova_{{ component }}_conf_admin_tenant_name:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: admin_tenant_name
    - value: service

nova_{{ component }}_conf_admin_username:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: admin_username
    - value: neutron

nova_{{ component }}_conf_admin_password:
  openstack_config.present:
    - filename: /etc/nova/nova.conf
    - section: neutron
    - parameter: admin_password
    - value: {{ neutron_pass }}

{% endmacro %}

